.tarjeta-producto-carrito{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    
    
}

.tarjeta-producto-carrito img {
    height: 100px;
    aspect-ratio: 1.35;
}

#productos-container-carrito{
    width: 500px;
    margin: auto;
    
}

.tarjeta-producto-carrito h3{
    width: 150 px;
}

#totales, #carrito-vacio{
    text-align: center;
}

.botones-carrito{
    display: flex;
    gap: 10px;
    height: auto;
    vertical-align: middle;
}

.contenedor-botones{
    display: flex;
    gap: 10px;
    height: auto;
    vertical-align: middle;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}




