
#producto-detalle-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 90%;              
}


.detalle-producto-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  max-width: 1100px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}


.detalle-img {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e2e2e2;
}

.detalle-img img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  object-fit: cover;
}


.detalle-info {
  flex: 2;
  padding: 40px 50px;
  background-color: var(--tarjeta); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.detalle-info h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.detalle-info p {
  font-size: 18px;
  margin: 8px 0;
  color: #444;
}

.detalle-info strong {
  color: #222;
}

.detalle-descripcion {
  margin-top: 25px;
  font-size: 16px;
  color: #555;
  line-height: 1.4;
}


@media (max-width: 768px) {
  .detalle-producto-card {
    flex-direction: column;
  }

  .detalle-img img {
    max-width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
  }

  .detalle-info {
    padding: 25px;
  }
}



        .botones-detalle {
            display: flex;
            gap: 10px; 
            justify-content: center;
            margin-top: 20px;
            
        }

        .boton-detalle {
        padding: 10px 20px;
        background-color: var(--oscuro);
        color: white;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s;
        width: 200px;
        }

        .boton-detalle:hover {
        background-color: var(--click);
        }