
#productos-container-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1500px;
  margin: auto;
  gap: 20px;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;

}
.tarjeta-producto-display {
  max-width: 300px;
  padding: 10px;
  background-color: var(--tarjeta);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 200ms;
  
}
.tarjeta-producto-display img {
  max-width: 100%;
  height: auto;
  display: block;
}
.tarjeta-producto-display:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.tarjeta-producto-display img {
  width: 100%;
  height: auto;
  aspect-ratio: 1.35;
}